
body {
    background-color: #ffffff;
}

/* Typograhpy Start */
H1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #5B9A6E;
}
/* Typograhpy End */

/* Typograhpy Start */
h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 519;
    font-size: 48px;
    line-height: 30px;
    color: #F18E9B;
}
/* Typograhpy End */

/* Typograhpy Start */
h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #678E75;
}
/* Typograhpy End */

/* Typograhpy Start */
h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    color: #C50600;

}
/* Typograhpy End */

/* Typograhpy Start */
h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    color: #E52A24;

}
/* Typograhpy End */

/* Typograhpy Start */

h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    color: #F8332C;

}
/* Typograhpy End */

/* Typograhpy Start */

h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    color: #B58B97;

}
/* Typograhpy End */

/* Typograhpy Start */

h7 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #5F846D;

}
/* Typograhpy End */

/* Typograhpy Start */

h8 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #660837;

}
/* Typograhpy End */

/* Typograhpy Start */

h9 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #EB5758;

}
/* Typograhpy End */

/* DIV BOX Color Start */
#BoxCategory_1 {
    background-color: #00f583;
}

#BoxCategory_2 {
    background-color: #4100f5;
}

#BoxCategory_3 {
    background-color: #f5008b;
}

#BoxCategory_4 {
    background-color: #e9f500;
}

#BoxCategory_5 {
    background-color: #8300f5;
}

/* DIV BOX Color End */